.page-template.asteroids {
  align-items: flex-start;
  height: auto;

  .asteroids-game {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  .page-template.asteroids {
    .asteroids-game {
      display: inline;
    }

    .min-width-message {
      display: none;
    }
  }
}