.contact-info {
  display: flex;
  flex-direction: column;

  .location {
    display: none;
  }

  .info {
    padding: 1rem;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 42rem) {
  .contact-info {
    flex-direction: row;

    .location {
      display: block;
      flex: 1 0 auto;
    }

    .info {
      padding: 1rem;
      flex: 1 0 20%;
    }
  }
}
