.contact-info {
  display: flex;
  flex-direction: column;


  .avatar {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
  }

  .info {
    padding: 1rem;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 42rem) {
  .contact-info {
    flex-direction: row;
    justify-content: center;

    .avatar {
      flex: 0 0 auto;
      margin: 0;
    }

    .info {
      flex: 0 0 auto;
      padding: 1rem;
    }
  }
}
