footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.75rem;
  margin: 0 auto;
  max-width: 64rem;
  color: rgb(255, 255, 255);

  .social-links {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem;

    > li {
      margin: 0.5rem 0;
    }

    > li + li::before {
      margin: 0.25rem;
      content: '/';
    }
  }
}
