@import 'globals/colors';

.site-header {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;

    &.state-open {
      color: $link-dark-color;
    }
  }

  nav {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0.75rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
 
    ul {
      display: flex;
      margin: 0.5rem 0;
      flex-direction: column;

      li {
        list-style: none;

        a {
          display: block;
          padding: 1rem 1.5rem;
        }
      }
    }

    &.state-open {
      display: block;
    }
  }

  .menu-toggle {
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background: transparent;
    cursor: pointer;    
  }

  .menu-icon {
    fill: rgb(255, 255, 255);
  }
}

@media screen and (min-width: 50rem) {
  .site-header {
    nav {
      display: block;
      position: static;
      width: auto;
      top: 0;
      right: auto;
      background: transparent;

      ul {
        margin: 0;
        flex-direction: row;

        li {

          a {
            &.state-open {
              color: $link-base-color;
            }
          }
        }
      }
    }

    .menu-toggle {
      display: none;
    }
  }
}