.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  z-index: 0;
  background-image: url('images/sf-view.png');
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
  }

  > header,
  > footer {
    flex: 0 0 3rem;
  }

  > main {
    flex: 1 1 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    overflow-y: auto;
  }
}
